@import "../utils/variables";

.contact-section {
  background-color: $light-color;
  padding-block: 2em;

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
  }

  &__text {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 2em;
  }

  &__social-icons {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  &__icon {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
