@import "../utils/variables";

.footer {
  background-color: $dark-color;
  color: $light-color;
  padding: 1em;
  text-align: center;

  &__text {
    margin: 0;
  }

  &__link {
    color: $accent-color-3;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 600px) {
}
