@import "../utils/variables";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.header-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  gap: 2em;
}

.header-info {
  margin-top: auto;
}

header h1 {
  font-size: 1.875rem;
  color: $accent-color-2;
  margin-top: auto;
  flex: 1;
  line-height: 1.3;
  padding-bottom: 0.8em;
  font-weight: 700;
}

header h1 span {
  display: block;
  position: relative;
}

header h1 span::after {
  content: "";
  position: absolute;
  background-color: $accent-color-2-highlight;
  -webkit-box-shadow: 0 0 8px $accent-color-2-highlight;
  box-shadow: 0 0 8px $accent-color-2-highlight;
  height: 18px;
  left: 5px;
  bottom: 0;
  width: 180px;
  z-index: -1;
}

header p {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

header span {
  color: $accent-color-2;
}

.header-img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  min-width: 230px;
  object-fit: cover;
  object-position: 50% 40%;
  overflow: hidden;
}

.tagline {
  margin-top: auto;
  font-size: 1rem;
  text-align: center;
}

.down-arrow {
  padding: 1rem;
}
